<div class="portalBottom">
    <div class="pure-g">
        <div class="pure-u-4-5">
            <div class="long">
                <img src="/imgs/long_landscape.png"/>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="short">
                <img src="/imgs/short_landscape.png"/>
            </div>
        </div>
    </div>
</div>