.portfolio_links {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.portfolio_links a {
    font-family: 'Varela';
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    margin-left: 1em;
}

.portfolio_links a:hover {
    color: #ffc800;
}

.grand_tally {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    overflow-y: auto;
}

.grand_tally_data {
   width: 49.6%;
   margin-bottom: 10px;
}

.pool_table table {
    margin: auto;
    background-color: white;
    font-size: 1.3em;
    width: 100%
}

.pool_table table tr td {
    border: 1px solid white;
    border-collapse: collapse;
}

#pool_type_td {
    background-color: #5ca844;
    color: white;
}

.grand_tally_header {
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    background-color:#5ca844;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    display: grid;
}

.grand_tally_value {
    color: #5ca844;
    font-weight: bolder;
    background-color: white;
    border: 1px solid white;
    font-size: 1.1em;
}

.grand_tally_value_up {
    color: white;
    font-weight: bolder;
    background-color: #8be271;
    border: 1px solid white;
    font-size: 1.1em;
}

.grand_tally_value_down {
    color: white;
    font-weight: bolder;
    background-color: #dd7575;
    border: 1px solid white;
    font-size: 1.1em;
}

#pie_chart {
    background:rgba(255,255,255,0.5);
    width: 99%;
    margin: auto;
}

.portfolio {
    width: 60%;
    margin: auto;
    overflow-y: auto;
    padding-bottom:100px;
}

.portfolio a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #9ec8f0
}

.portfolio a:hover {
    font-size: 1.15em;
    font-weight: bold;
    color: #83a9cc
}

.add_stuff {
    margin: auto;
    width: 40%;
    text-align: center;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(245, 236, 158, 0.4);
}

.add_stuff button{
    background-color: white;
}

.add_stuff button:focus {
    background-color: #ffc800;
}

.add_stuff button:hover {
    background-color: #ffc800;
    font-weight: bold;
}

.add_stuff input:focus {
    color: #d44c04;
    background-color: #ffc800;;
}

.add_stuff input[type="text"] {
    height: 2.8em;
}

.add_stuff input[type="date"] {
    height: 2.2em;
}

.top_input {
    margin-bottom: 5px;
}

.bot_input {
    margin-bottom: 5px;
}

.add_stuff button {
    margin-top: 5px;
}

.portfolio {
    width: 60%;
}

.portfolio table {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

.portfolio table th {
    text-align: center;
    color: white;
    background-color: #5ca844;
}

.type_buy {
    background-color:rgb(217, 231, 250);
    color: rgb(99, 99, 99);
}

.type_sell {
    background-color: rgb(93, 96, 122);
    color: rgb(216, 230, 250);
}

table tr td.up {
    background-color: rgb(213, 243, 189);
}

table tr td.down {
    background-color: rgb(243, 200, 189);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content {
    background-color: #ffffff;
    width: 60%;
    height: 60%;
    margin: auto;
    border: 1px solid #888;
}

#table_title {
    text-align: center;;
    border-bottom: 3px solid #5ca844;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

#table_title a {
    color: #5ca844;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

#table_title a:hover {
    color: #8aee8f;
}

#trans_table .dataTables_wrapper .dataTables_filter {
    color: #5ca844;
}

.trans_table {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#trans_table table {
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

#trans_table th {
    text-align: center;
    color: white;
    background-color: #5ca844;
}

#trans_table a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #9ec8f0
}

#trans_table a:hover {
    font-size: 1.15em;
    font-weight: bold;
    color: #83a9cc
}

.corner_x {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color:#8d3606;
}

.corner_x a:hover {
    font-weight: bolder;
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    .grand_tally {
        width: 100%;
    }

    .portfolio {
        width: 100%;
    }

    .add_transaction {
        width: 80%;
    }

    .userLogo {
        position: relative;
        float: right;
        margin-top: -4em;
        z-index: 1;
    }
    
    .userLogo img{
        height: 30px;
        border-radius: 50%;
        border: 1px solid #1c6404;
    }
    
    .userLogo img:hover {
        opacity: 0.5;
    }
}

