<div class="add_write_up" id="add_write_up" >
    <form action="/rb_write_up/<%=rb._id%>" method="post" id="write_up">
        <textarea rows="7" cols="100" name="write_up", form="write_up"></textarea>
    </br>
        <button type="submit" value="rootbeer" class="add_rb_button" >
            Add Write Up
        </button>
    </form>
</div>