<div class="userLogo">
    <img src="../imgs/cc_logo.png"/>
</div>
<div class="portalBottom">
    <div class="short">
    <img src="../imgs/short_landscape.png"/>
    </div>
    <div class="long">
    <img src="../imgs/long_landscape.png"/>
    </div>
</div>