<div class="navLinks" >
    <ul id="navLinks">
        <li>
            <a href="/">Home </a>
        </li>
        <li>
            <a href="/public_rbs">Root Beers</a>
        </li>
        <li>
            <a href="/rb_about">About</a>
        </li>
        <li>
            <a href="/crypto/markets">Crypto</a>
        </li>
        <% if (user && user.active) { %>
            <li>
                <a href="/home">User Page</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        <% } %>
    </ul>
    <div class="userLogo">
        <a href='/'>
            <img src="/imgs/cc_logo.png"/>
        </a>
    </div>
</div>